<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="3ebe5594-6ea3-4add-9676-851060167c9b" Publisher="CN=41200" Version="1.0.12.0" />
  <mp:PhoneIdentity PhoneProductId="3ebe5594-6ea3-4add-9676-851060167c9b" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TrackingFlight_v2_0109</DisplayName>
    <PublisherDisplayName>41200</PublisherDisplayName>
    <Logo>Assets\Logo50x50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TrackingFlight_v2_0109.App">
      <uap:VisualElements DisplayName="TrackingFlight_v2_0109" Square150x150Logo="Assets\Logo150x150.png" Square44x44Logo="Assets\Logo44x44.png" Description="TrackingFlight_v2_0109" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo310x150.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Logo_Full_620x300.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="serialcommunication">
      <Device Id="any">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>